<header class="header bg-dark">
  <nav class="navbar navbar-expand-lg navbar-dark container">
    <div class="container-fluid">
      <a class="logo navbar-brand" href="#">
        <span class="logo_icon">mc</span>
        <span class="logo_text">my chat</span>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <input type="text" placeholder="search" class="form-control form-control-sm input-search">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            <i class="fas fa-user profile-icon"></i>
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-light" href="#">Account</a></li>
            <li><a class="dropdown-item text-light" href="#">Music</a></li>
            <li>
              <hr class="dropdown-divider text-light">
            </li>
            <li><a class="dropdown-item text-light" href="#">Settings <i class="fas fa-cog"></i></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
