.logo {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_icon {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  border: 4px solid #3195fa;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 42px;
  border-radius: 5px;
}

.profile-icon {
  font-size: 20px;
}

.input-search {
  margin-right: 10px;
  background: #4e5358;
  color: #fff;
}

.input-search::placeholder {
  color: #fff;
}

.dropdown-menu {
  left: -100px;
}

.dropdown-item:hover {
  background: #4e5358;
}

