<div class="card bg-light" style="width: 900px; margin: 30px auto;">
  <div class="card-header text-center">
    <h6>Say something!</h6>
  </div>
  <div class="card-body">
    <form class="form d-block px-5" #messageForm="ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
      <input name="author" id="author" class="form-control mt-3"
             placeholder="author" required
             ngModel>
      <input type="text" name="message" id="message" class="form-control mt-3"
             placeholder="message" required
             ngModel>
      <button class="btn btn-primary btn btn-secondary mt-3 text-right d-block ml-auto"
              type="submit" [disabled]="isSending">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
              *ngIf="isSending"></span>
        <span *ngIf="!isSending">send</span>
      </button>
    </form>
  </div>
</div>
